<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	    html, body {
      height: 100%;
      margin: 0;
    }

    .center-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: #ffffff; /* 원하면 배경색 설정 */
    }
</style>
<script type="text/javascript" th:inline="javascript">
	window.onload = function() {
		setTimeout(function(){
			var result = /*[[${result}]]*/ 0;
			if(result>0) {
				alert("비밀번호가 변경되었습니다. 변경된 비밀번호로 로그인 해주세요.");
				location.href="/loginForm";
			} else {
				alert("비밀번호가 변경되지 않았습니다.");
				location.href="/findPwForm";
			}	
		},100);
	}
</script>
</head>
<body>
	<div class="center-container" onclick="location.href='index'">
		<img src="/img/KG25.png" alt="KG25 로고" style="width: 400px;">
	</div>	
</body>
</html>