<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	    html, body {
      height: 100%;
      margin: 0;
    }

    .center-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: #ffffff; /* 원하면 배경색 설정 */
    }
</style>
<script type="text/javascript" th:inline="javascript">
	window.onload = function() {
		setTimeout(function() {
			var result = /*[[${result}]]*/ 0;
			if(result>0) {		
				alert("회원탈퇴가 완료되었습니다. 이용해주셔서 감사합니다.");
				
				  // 부모창(index 페이지로 이동)
			    if(window.opener && !window.opener.closed) {
			        window.opener.location.href = '/index';
			    }
			    // 팝업창 닫기
			    window.close();
			    location.href = "index";
			} else {
				alert("회원탈퇴가 완료되지 않았습니다. 다시 시도해주세요");
				history.back();
			}
		},100);
	}
</script>
</head>
<body>
	<div class="center-container" onclick="location.href='index'">
		<img src="/img/KG25.png" alt="KG25 로고" style="width: 400px;">
	</div>	
</body>
</html>