<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	    html, body {
      height: 100%;
      margin: 0;
    }

    .center-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: #ffffff; /* 원하면 배경색 설정 */
    }
</style>
<script type="text/javascript">
	window.onload = function() {
		setTimeout(function(){
			alert("정보가 존재하지 않거나, 잘못 입력했습니다. 다시 입력해주세요.");
			location.href = "/findPwForm";	
		},100);
	}
</script>
</head>
<body>
	<div class="center-container" onclick="location.href='index'">
		<img src="/img/KG25.png" alt="KG25 로고" style="width: 400px;">
	</div>
</body>
</html>